<!DOCTYPE html>
<html lang="kor">
  <head>
    <title>내가 그동안 한 일들</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Sunflower:wght@300;500;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/core.css">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link rel="stylesheet" type="text/css" href="../css/custom.css">
    <!-- inject:css-->
    <!-- endinject -->
    
    <link rel="icon" type="image/png" href="../images/free-icon-font-portrait-3917581.png">
    <script src="../js/assets/jquery.js"></script>
  </head>
  <body class="smooth-transition">
    <div class="container-fluid">
      <header>
        <div class="container">
          <div class="col-md-3"><a href="../index.html" class="brand"><img alt="Your Alternative text" src="../images/제목 있음.png"></a></div>
          <div class="col-md-6 text-center">
            <div class="nav-trigger">
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
          </div>
        </div>
      </header>
      <section class="hero text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <h1>약력</h1>
              <p>2006.04.06:출생<br><br>
                신창초등학교 졸업<br><br>
                신창중학교 졸업<br><br>
                충남삼성고등학교 재학 중
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="content">
        <div class="container">
          <div class="row mb-xl">
            <div class="col-md-12"><img src="../images/KakaoTalk_Photo_2023-09-04-15-09-57.jpeg" class="fadein"></div>
          </div>
          <div class="row mb-xl">
            <div class="col-md-3"><img src="../images/KakaoTalk_Photo_2023-09-04-15-18-21.jpeg" class="fadein"></div>
            <div class="col-md-3"><img src="../images/KakaoTalk_Photo_2023-09-04-15-17-26.jpeg" class="fadein"></div>
            <div class="col-md-3"><img src="../images/" class="fadein"></div>
            <div class="col-md-3"><img src="../images/KakaoTalk_Photo_2023-09-04-15-17-40.jpeg" class="fadein"></div>
          </div>
          <div class="row">
            <div class="col-md-6"><img src="../images/KakaoTalk_Photo_2023-09-04-15-17-52.jpeg" class="fadein">
              <div class="box pb-0">
                <h3>행복하게 살기</h3>
                <p>인생 한 번 사는거 행복하게 사는것만 해도 많기 때문에<br>굳이 부정적인 생각, 일들은 하지 않으려고</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="box pt-0">
                <h3>나만의 이야기를 쌓아가는 중</h3>
                <p>내 삶이 모여서 하나의 이야기가 되니까<br>좋은 이야기들을 쌓으면 살고 있다</p>
              </div><img src="../images/KakaoTalk_Photo_2023-09-04-15-18-11.jpeg" class="fadein">
            </div>
          </div>
        </div>
      </section>
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-3 text-center">
              <p>오상혁<br>잘난 놈</p>
            </div>
            <div class="col-md-3 text-center">
              <p>인생은 결국<br>내가 사는거니까</p>
            </div>
            <div class="col-md-3 text-center">
              <p>muo040639@gmail.com<br>010 8075 0309</p>
            </div>
            <div class="col-md-3 text-center">
              <ul class="social-links">
                <li> 나의 인스타그램 주소<br>아이콘을 클릭해서 이동<br><a href="https://www.instagram.com/xmflrtmxjdhtkdgur/" class="fa fa-instagram"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <footer class="bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">&copy; 만든이:<a href="https://www.instagram.com/xmflrtmxjdhtkdgur/">오상혁</a></div>
          </div>
        </div>
      </footer>
    </div>
    <script src="../js/assets/bootstrap.js"></script>
    <script src="../js/assets/imagesloaded.pkgd.min.js"></script>
    <script src="../js/assets/validation.js"></script>
    <script src="../js/assets/packery.pkgd.min.js"></script>
    <script src="../js/assets/velocity.min.js"></script>
    <script src="../js/assets/typed.min.js"></script>
    <script src="../modules/titan-slider/titan-slider.js"></script>
    <script src="../modules/tera-lightbox/tera-lightbox.js"></script>
    <script src="../js/assets/animsition.js"></script>
    <script src="../js/functions.js"></script>
  </body>
</html>